* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
}

 header {
     width: 100%;
 }

 .header-top {
     width: 100%;
     height: 70px;
     background-color: #F5F8FA;
     border-top: 1px solid #CBD6E2;
     border-bottom: 1px solid #CBD6E2;
    }

.container::after{
    content: '';
    display: table;
    clear: both;
}

.header-top-left{
    float:left;
    height: 100%;
    width: 50%;
}

#globe-icon {
    margin-right: 2px;
}

.language{
    padding: 25px;
}

.contacts{
    height: 40px;
    font-size: 1.1em;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #CBD6E2;
}

.header-top-right{
    height: 100%;
    width: 50%;
    float: left;
}

.login-search{
    margin-left: 40%;
    padding: 5px;
    width: 289px;
    height: 25px;
    display: inline-block;
}

.login{
    padding: 10px 20px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: white;
    color: #FF7A59;
    border: 1px solid #FF7A59;
    border-radius: 7%;
    display: inline-block;
    text-decoration: none;
}

.login-search ul{
    width: 93%;
    margin-left: 69px;
}

.login-search li{
    display: inline-block;
    list-style-type: none;
}

.free-pack{
    padding: 10px 2px;
    background-color: #FF7A59;
    color: white;
    border: 1px solid #FF7A59;
    border-radius: 7%;
    display: inline-block;
    text-decoration: none;
}

 .header-bottom {
     width:100%;
     background: #FFFFFF;
}

.header-bottom-left{
    min-height: 90px;
    float:left;
    width: 50%;
}

 #logo-hubspot {
     width: 30%;
     padding: 29px;
 }

.header-bottom-right{
    min-height: 94.61px;
    width: 50%;
    float: left;
}

.header-bottom-right ul {
    font-size: 20px;
    margin-top: 15px;
    line-height: 64px;
    height: 64px;
    width: 100%;
}

.header-bottom-right li {
    display: inline-block;
    padding: 0px 10px;
}

.header-bottom-right a{
    text-decoration: none;
    color: #33475B;
}

.banner {
    color: white;
    font-size: 1.3em;
    width: 100%;
    background-color: #425B76;
}

.banner p {
    text-align: center;
    padding: 27px;
}

.free-section {
    width: 100%;
    background-color: #FFF2EE;
    border-bottom: 3px solid #33475C;
}

.free-section h1 {
    font-size: 3em;
    padding-top: 40px;
    padding-bottom: 25px;
    width:100%;
    float: left;
}

.free-section p {
    font-size: 1.2em;
    width: 100%;
    font-family: inherit;
    padding-bottom: 20px;
}

.button-free-acc{
    background-color: #FF7A59;
    padding: 30px;
    border: 1px solid #FF7A59;
    border-radius: 4%;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
}

.button-free-acc:hover{
    background-color: #f4785d;
}

#last-p{
    padding-top: 18px;
    padding-bottom: 30px;
}

.divider{
    width: 100%;
    height: 80px;
    background-color: #15C4AD;
    border-bottom: 3px solid #33475C;
}

.offers{
    width: 100%;
    background-color: #dcecf7;
}

.contained{
    width: 100%;
    min-height: 958px;
    margin-bottom: 28px;
}

.sale-pack{
    width: 30%;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    padding:2px;
    background-color: #F5F8FA;
    border-radius: 5px;
    min-height: 448px;
}

.contained:first-child p{
    font-size: 1.2em;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contained i{
    font-size: 1.2em;
    margin-right: 5px;
}

.contained:first-child h2{
    font-size: 2em;
    display: inline-block;
}

#second-pack{
    background-color: #FFFFFF;
}

#second-pack p{
border-bottom: 1px solid black;
}

#second-pack h4{
    margin-top: 17px;
}

.second-pack ul,li{
    list-style-type: none;
    padding-top:11px;
}

.free-crm{
    background-color: #FF7A59;
    padding: 30px;
    border: 1px solid #FF7A59;
    border-radius: 4%;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    margin-top: 28px;
    margin-left: 25%;
}

#third-pack{
    background-color: white;
}

#third-pack p{
    border-bottom: 1px solid black;
}

 #third-pack h4{
     margin-top: 14px;
 }

 #fourth-pack{
     background-color: white;
 }

 #fourth-pack p{
     border-bottom: 1px solid black;
 }

  #fourth-pack h4{
      margin-top: 14px;
  }

  #fifth-pack{
      background-color: white;
  }

  #fifth-pack p{
      border-bottom: 1px solid black;
  }

   #fifth-pack h4{
       margin-top: 14px;
   }

   #sixth-pack{
       background-color: white;
   }

   #sixth-pack p{
       border-bottom: 1px solid black;
   }

    #sixth-pack h4{
        margin-top: 14px;
    }

.grid{
    width: 100%;
    height: 800px;
    background-color: #00AFB2;
    color: white;
}

.content-grid{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.content-grid h3{
    font-size:2.3em;
    text-align: center;
}

.content-grid p{
    text-align:center;
    margin-top:19px;
    font-size: 1.2em;
}

.tabelle{
    float: left;
    width: 100%;
    margin-top: 130px;
}

.tabella{
    border-right: 1px solid white;
    float:left;
    width: 25%;
    padding:50px;
    text-align: center;
}

.numbers{
    font-size: 4.0em;
}

.border-mid{
    height: 192px;
    border-bottom: 1px solid white;
}

#border-right{
    border-right: none;
}

.sponsor{
    width: 100%;
    min-height: 800px;
    background-color: white;
}

.customers-top{
    margin-top: 90px;
    width: 100%;
    height: 200px;
}

.customer-left{
    float: left;
    width: 40%;
    min-height: 150px;
}

.customer-left strong{
    font-size: 2.8em;
}

#number-customers{
    font-size: 1.5em;
}

.customer-right{
    float: left;
    width: 60%;
    min-height: 200px;
}

.logo-customers{
    min-height: 100px;
    width: 25%;
    float:left;
}

.logo-customers img{
    width:100%;
    padding:25px;
}

.customer-bottom{
    margin-top: 90px;
    width: 100%;
    height: 200px;
}

.customer-bottom-left{
    float: left;
    width: 40%;
    min-height: 150px;
}

.customer-bottom-right{
    float: left;
    width: 60%;
    min-height: 200px;
    background-color: red;
}

.customer-bottom-left h4{
    font-size: 1.9em;
}

.customer-bottom-left p{
    font-size: 1.2em;
}
